@{
    ViewBag.Title = "SAPAM v1.0";
}
<!DOCTYPE html>
<html lang="es">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/vendors/jquery-min")

        @Styles.Render("~/vendors/bootstrap/css")
        @Styles.Render("~/vendors/nprogress/css")
       
        @Styles.Render("~/vendors/font-awesome-min/css")
        @Styles.Render("~/vendors/custom-min/css")
    </head>
    <body class="nav-md" style="background-image: url(../../Images/fondos/E145438-F00001-G001-2.jpg); background-position-x: center; background-repeat: repeat">
        <div id="body" >
            @RenderSection("featured", required: false)
            <section >
                @RenderBody()
            </section>
        </div>
        @RenderSection("scripts", required: false)
        
        @Scripts.Render("~/vendors/bootstrap-min")
        @Scripts.Render("~/vendors/fastclick")
        @Scripts.Render("~/vendors/nprogress")
        
        @Scripts.Render("~/vendors/custom-min")
    </body>
</html>
